.btn {
    width: 200px;
    height: 50px;
    background-color: rgb(205, 123, 23);
    color: white;
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded; 

    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: .5;
    }
}